.vscode/launch.json
__pycache__/*.*
__pycache__/db.cpython-37.pyc
__pycache__/db.cpython-37.pyc
__pycache__/db.cpython-37.pyc
__pycache__/app.cpython-37.pyc
__pycache__/myCryptography.cpython-37.pyc
__pycache__/app.cpython-37.pyc
__pycache__/app.cpython-37.pyc
__pycache__/db.cpython-37.pyc
__pycache__/myCryptography.cpython-37.pyc
__pycache__/secrets.cpython-37.pyc
